/* style for index */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Design Logo header color JH */
.hero-links .logo {
    background-color: var(--bgColor);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.logo {
    margin-top: 0.1%;
    margin-left: 2%;
    position: absolute;
    text-decoration: none;
    color: var(--textWhite);
    font-size: 35px;
    font-weight: 700;
}

.logo span {
    text-decoration: none;
    color: #9ACD32;
}

/*.dark and light and icon*/
body.dark-mode {
    background-color: black;
    color: white;
}

.dark-theme {
    background-color: black;
    color: #fff;
}

#icon {
    margin-right: 2%;
    height: 25px;
    cursor: pointer;

}

/*only nav*/
.nav-links {
    flex: 1;
    text-align: right;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav-links li a {
    color: grey;
    filter: invert(1);
    mix-blend-mode: difference;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.nav-links li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #888d7e;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/*cen text*/
#cen-text span {
    color: #9ACD32;
}

/*efect cen text importatn*/
#cen-text {
    display: flex;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}

.img_back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img_back img {
    position: absolute;
    display: flex;
    margin-top: -12%;
    max-width: 100%;
    height: auto;
}


/*important this is back to image background */
.img_back {
    margin-top: 3%;
    position: relative;
}

#img_back {
    z-index: -1;
}

/*about*/
.about {
    margin-top: -9%;

}

.about h4 {
    font-size: 20px;
    font-weight: bold;
    color: #9ACD32;
    padding: 2%;
}

.content p {
    color: var(--textWhite);
    display: flex;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

/*contact*/
.contact-left .sub-title {
    font-size: 20px;
    font-weight: bold;
    color: #9ACD32;
    padding: 2%;
}

/*email and phone square*/
.contact-right {
    flex-basis: 60%;
}

/*c_email and phone*/
.contact-left p {
    margin-top: 30px;

}

/*F_email and phone*/
.contact-left p i {
    color: #008080;
    margin-right: 15px;
    font-size: 25px;
}

/*Social icons margin*/
.social-icons {
    margin-top: 20px;
    padding: 2%;
}

/*Social icons*/
.social-icons a {
    display: flex;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #008080;
    transform: translateY(-5px);
}

/*arrowup */
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: -33em;
    margin-right: 10%;
}

.footer-icon-top a i {
    display: flex;
    color: #008080;
    font-size: 25px;
}

/*cop*/
.copyright {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -3em;
}

/*color icon dev copyright*/
.copyright i {
    color: #008080;
}

/*thanks*/
#thanks {
    display: flex;
    text-align: center;
    align-items: center;
    bottom: 20em;
    margin-left: 45%;
    font-size: 12px;
}

#thanks a {
    text-decoration: none;
    font-size: 15px;
    color: #008080;
    filter: invert(-1);
    mix-blend-mode: difference;
}

/*media*/
@media only screen and (max-width: 600px) {

.img_back img {
    position: absolute;
    display: flex;
    margin-top: -36em;
    width: 100%;
    height: auto;
}
    
#cen-text {
    margin-top: -14em;
    margin-left: 80px;
    font-size: 15px;
}

.logo {
    margin-top: 16%;
    margin-left: 55%;
    font-size: 15px;
}

#icon {
    margin-top: 1%;
    margin-left: 32%;
    height: 25px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about h4 {
    margin-top: -29em;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.content p {
    display: flex;
    text-align: justify;
    font-size: 14px;
}

/*arrowup */
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: -20em;
    margin-right: 5%;
}

/*thanks*/
#thanks {
    display: flex;
    text-align: center;
    align-items: center;
    bottom: 10em;
    margin-left: 30%;
    font-size: 12px;
}

}

/*Hon X9 and OS SE */
@media only screen and (max-width: 360px) {
.logo {
    margin-top: 18%;
    margin-left: 63%;
    font-size: 15px;
}

#icon {
    margin-top: 1%;
    margin-left: 80%;
    height: 25px;
    cursor: pointer;
}

.about h4 {
    margin-top: -37em;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.content p {
    display: flex;
    text-align: justify;
    font-size: 14px;
}

/*arrowup */
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: -13em;
    margin-right: 5%;
}

/*thanks*/
#thanks {
    display: flex;
    text-align: center;
    align-items: center;
    bottom: 10em;
    margin-left: 30%;
    font-size: 12px;
}

}
