/* style for index */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Design Logo header color JH */
.hero-links .logo {
    background-color: var(--bgColor);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.logo {
    margin-top: 0.1%;
    margin-left: 2%;
    position: absolute;
    text-decoration: none;
    color: var(--textWhite);
    font-size: 35px;
    font-weight: 700;
}

.logo span {
    text-decoration: none;
    color: #9ACD32;
}

/*.dark and light and icon*/
body.dark-mode {
    background-color: black;
    color: white;
}

.dark-theme {
    background-color: black;
    color: #fff;
}

#icon {
    margin-right: 2%;
    height: 25px;
    cursor: pointer;

}

/*only nav*/
.nav-links {
    flex: 1;
    text-align: right;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav-links li a {
    color: grey;
    filter: invert(1);
    mix-blend-mode: difference;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.nav-links li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #888d7e;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/*cen text*/
#cen-text span {
    color: #9ACD32;
}

/*efect cen text importatn*/
#cen-text {
    display: flex;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: bold;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}

.img_back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img_back img {
    position: absolute;
    display: flex;
    margin-top: -12%;
    max-width: 100%;
    height: auto;
}


/*important this is back to image background */
.img_back {
    margin-top: 3%;
    position: relative;
}

#img_back {
    z-index: -1;
}

/*about*/
.about {
    margin-top: -9%;

}

.about h4 {
    font-size: 20px;
    font-weight: bold;
    color: #9ACD32;
    padding: 2%;
}

.content p {
    color: var(--textWhite);
    display: flex;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

/*Services*/
#services {
    font-size: 15px;
    font-weight: bold;
    color: #9ACD32;
    padding: 2%;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;  
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff
}

.services-list h2 {
    color: #fff;
}

.services-list p {
    color: #fff;
    text-align: justify;
    margin-left: -20px;
    margin-right: -20px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}


.services-list div:hover {
    background: #9ACD32;
    transform: translateY(-10px);
}

/*Values*/
#values {
    font-size: 15px;
    font-weight: bold;
    color: #9ACD32;
    padding: 2%;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work h3 {
    color: #fff;
}

.work p {
    font-size: 11px;
    color: #fff;
    text-align: justify;
    margin-left: -20px;
    margin-right: -20px;
}

.work img {
    max-width: 100%; 
    height: 300px;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #9ACD32);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #008080;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #008080;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold; 
    -webkit-text-stroke: 0.5px white; 
    transition: background 0.5s;
}

/*boton see more*/
.btn {
    background: #9ACD32;
}

/*contact*/
.contact-left .sub-title {
    font-size: 20px;
    font-weight: bold;
    color: #9ACD32;
    padding: 2%;
}

/*email and phone square*/
.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #008080;
    margin-right: 15px;
    font-size: 25px;
}

/*Social icons*/
.social-icons {
    margin-top: 20px;
    padding: 2%;
}

.social-icons a {
    display: flex;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #008080;
    transform: translateY(-5px);
}

/*arrowup */
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: -118em;
    margin-right: 10%;
}

.footer-icon-top a i {
    display: flex;
    color: #008080;
    font-size: 25px;
}

/*cop*/
.copyright {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -3em;
}

.copyright i {
    color: #008080;
}

/*thanks*/
#thanks {
    display: flex;
    text-align: center;
    align-items: center;
    bottom: 20em;
    margin-left: 45%;
    font-size: 12px;
}

#thanks a {
    text-decoration: none;
    font-size: 15px;
    color: #008080;
    filter: invert(-1);
    mix-blend-mode: difference;
}

/*media*/
@media only screen and (max-width: 600px) {

.img_back img {
    position: absolute;
    display: flex;
    margin-top: -30em;
    width: 100%;
    height: auto;
}
    
#cen-text {
    margin-top: -10em;
    margin-left: 80px;
    font-size: 15px;
}

.logo {
    margin-top: 16%;
    margin-left: 55%;
    font-size: 15px;
}

#icon {
    margin-top: 1%;
    margin-left: 32%;
    height: 25px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about h4 {
    margin-top: -26em;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.content p {
    display: flex;
    text-align: justify;
    font-size: 14px;
}

/*arrowup */
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: -20em;
    margin-right: 5%;
}

/*thanks*/
#thanks {
    display: flex;
    text-align: center;
    align-items: center;
    bottom: 10em;
    margin-left: 30%;
    font-size: 12px;
}

}

/*Hon X9 and OS SE */
@media only screen and (max-width: 360px) {
.logo {
    margin-top: 18%;
    margin-left: 63%;
    font-size: 15px;
}

#icon {
    margin-top: 1%;
    margin-left: 80%;
    height: 25px;
    cursor: pointer;
}

.about h4 {
    margin-top: -37em;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.content p {
    display: flex;
    text-align: justify;
    font-size: 14px;
}

/*arrowup */
.footer-icon-top {
    display: flex;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 1.7cm;
    bottom: -13em;
    margin-right: 5%;
}

/*thanks*/
#thanks {
    display: flex;
    text-align: center;
    align-items: center;
    bottom: 10em;
    margin-left: 30%;
    font-size: 12px;
}

}
